# Auto detect text files and perform LF normalization
* text=auto
*.csv filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
data/non_duplicate_filtered_quinolines_zinc15_50atoms.csv filter=lfs diff=lfs merge=lfs -text
data_zinc15_subset-ii/quinolines_filtered_subsample.csv filter=lfs diff=lfs merge=lfs -text
data_zinc15_subset-iii/quinolines_filtered_subsample.csv filter=lfs diff=lfs merge=lfs -text
